<h1>Listing textiles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Size</th>
      <th>Material</th>
      <th>Picture</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @textiles.each do |textile| %>
      <tr>
        <td class="listpadding"><%= textile.size %></td>
        <td class="listpadding"><%= textile.material %></td>
        <td class="listpadding"><%= textile.picture %></td>
        <td class="listpadding"><%= textile.name %></td>
        <td class="listpadding"><%= link_to 'Show', textile %></td>
        <td class="listpadding"><%= link_to 'Edit', edit_textile_path(textile) %></td>
        <td class="listpadding"><%= link_to 'Destroy', textile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Textile', new_textile_path %>
